<section class="bg-gray-100 text-black py-12 overflow-hidden mb-10">
    <div class="max-w-2xl mx-auto text-center">
        <h6 class="text-teal-900 text-center mt-5 mb-4 pb-0">STAY INFORMED</h6>
        <h2 class="text-3xl font-bold mb-1">
            Get The Latest Insurance
        </h2>
        <h2 class="text-3xl font-bold mb-5">
             Insights Right Here
        </h2>
        <p class="text-gray-700 text-sm mt-5 mb-5 max-w-2xl mx-auto">
            Stay updated with the latest trends and insights in the insurance industry. Our blog provides expert advice, tips, and the latest news to keep you well-informed.
        </p>
        <form action="#" method="post" class="flex justify-center">
            <input type="email" name="email" id="email" placeholder="Enter your email" required class="p-3 rounded-l-md w-64 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-50">
            <button type="submit" class="bg-teal-700 text-white py-3 px-6 rounded-r-md hover:bg-teal-500">Subscribe Now</button>
        </form>
    </div>
</section>
