h1 span {
    display: inline; 
    margin-bottom: 0; 
    padding-bottom: 0; 
}

h1 {
    font-family: 'Oswald', sans-serif;
    padding: 10px 0; 
    line-height: 1.2; 
    font-size: 50px;
}

p{
    font-size: 22px;
}
