<section class="text-center py-16 bg-gray-100">
    <h2 class="text-teal-500 text-sm font-semibold uppercase">Insurance Services</h2>
    <h1 class="text-3xl font-bold mt-2">Take The Worry Out Of Life With<br>Insurance Protection</h1>
    <div class="flex  justify-center space-x-4 mt-8 flex-wrap">

        <a href="#business-insurance" class="relative max-w-xs overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="assets/family-insurance.jpeg" alt="Business Insurance" class="w-full h-56 object-cover">
            <div class="absolute inset-0 bg-teal-700 bg-opacity-50 flex items-center justify-center">
                <div class="text-white text-center">
                    <span class="text-xs uppercase">Insurance • Family</span>
                    <h3 class="text-xl font-semibold mt-2">Family Insurance</h3>
                </div>
            </div>
        </a>

        <a href="#vehicle-insurance" class="relative max-w-xs overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="assets/business-insurance.jpeg" alt="Vehicle Insurance" class="w-full h-56 object-cover">
            <div class="absolute inset-0 bg-teal-700 bg-opacity-50 flex items-center justify-center">
                <div class="text-white text-center">
                    <span class="text-xs uppercase">Insurance • Business </span>
                    <h3 class="text-xl font-semibold mt-2">Business Insurance</h3>
                </div>
            </div>
        </a>

        <a href="#car-insurance" class="relative max-w-xs overflow-hidden rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
            <img src="assets/car-image.jpeg" alt="Car Insurance" class="w-full h-56 object-cover">
            <div class="absolute inset-0 bg-teal-700 bg-opacity-50 flex items-center justify-center">
                <div class="text-white text-center">
                    <span class="text-xs uppercase">Insurance • Car</span>
                    <h3 class="text-xl font-semibold mt-2">Car Insurance</h3>
                </div>
            </div>
        </a>
    </div>
    <p class="text-gray-500 text-sm mt-8 max-w-2xl mx-auto">
        Protect your family, your business, and your vehicle with comprehensive insurance solutions tailored to your needs. Our plans provide peace of mind so you can focus on what matters most. <a href="#" class="text-teal-500 font-semibold">View All</a>
    </p>
</section>
